notes/

unused/

Backend/temp/
Backend/_pycache_/
Backend/unused/

# Ignore everything inside
Backend/uploads/*

# Ignore everything inside build
Backend/McoolOutput/*

# But don't ignore this subfolder
!Backend/McoolOutput/A/

# And don't ignore its contents
!Backend/McoolOutput/A/**