
services: 
  backend:
    build: ./Backend
    container_name: backend
    ports:
      - "8000:8000"
    volumes:
      - ./Backend:/app
      - ./Backend/McoolOutput:/app/McoolOutput
    depends_on:
      - higlass

  higlass:
    image: higlass/higlass-docker
    container_name: higlass
    ports:
      - "8989:80"
    volumes:
      - ./Backend/McoolOutput:/data

  ingest_watcher:
   image: higlass/higlass-docker
   depends_on:
     - higlass
   volumes:
     - ./Backend/McoolOutput:/data
     - ./Backend/ingest_watcher.sh:/ingest_watcher.sh:ro
   restart: unless-stopped
   entrypoint: ["/bin/bash", "/ingest_watcher.sh"]


  frontend:
    profiles: ["prod"]
    build:
      context: ./Frontend
    ports:
      - "8080:80"
    depends_on:
      - backend
    command: ["sh", "-c", "nginx -g 'daemon off;'"]

  frontend-dev:
    profiles: ["dev"]
    build:
      context: ./Frontend
      target: dev
    ports:
      - "8080:3000"
    volumes:
      - ./Frontend:/app
      - /app/node_modules
    command: ["npm","run","dev","--","--host","0.0.0.0"]
    depends_on:
      - backend
